[package]
edition = "2018"
name = "node"
version = "0.1.0"

[lib]
crate-type = ["cdylib"]

[dependencies]
napi = "1"
napi-derive = "1"
rolldown = {path = "../core", version = "0.0.1"}

[target.'cfg(all(target_arch = "x86_64", not(target_os = "macos"), not(target_env = "musl")))'.dependencies]
mimalloc-rust = {version = "0.1"}

[target.'cfg(all(target_arch = "aarch64", target_os = "macos"))'.dependencies]
mimalloc-rust = {version = "0.1"}

[target.'cfg(all(not(target_arch = "aarch64"), target_os = "macos"))'.dependencies]
snmalloc-rs = {version = "0.2", features = ["cache-friendly", "16mib", "native-cpu", "usecxx20"]}

[build-dependencies]
napi-build = "1"
